@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
/*
body{
  height: 450vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}*/

table, th, td {
  
}
table{
  border:1px solid black;
}
.input-box-flex{
  
  margin-top:1rem;
  
}




.container{
  max-width: 100%;
  width: 90%;
  background-color: #fff;
  margin:auto;
  border-radius: 5px;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.30); */
  margin-top:2rem;

}

.Box-7 > .Option-btn{
  margin-top:1rem;
}


 .title{
  font-size: 25px;
  font-weight: 300;
  position: relative;
  text-align: center;
}
.title .temp{
  font-size: 18px;
  font-weight: 300;
  position: relative;
  text-align: center;
}


.container .title::before{
}
  .content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
}


form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
  color: green;
  font-weight: 550;
}

h3
{
  display: flex;
}

 form .Option-btn .option-title
 {
  font-size: 18px;
  font-weight: 450;
  }

 
 /*

 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }*/

 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}


 /* #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
    background: #9b59b6;
   border-color: #d9d9d9;
 


 } */
 form input[type="radio"]{
   display: none;
 }





/* upload button */

.profile-pic-div{
    height: 150px;
    width: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#photo{
    height: 100%;
    width: 100%;
}

/*
#file{
    display: none;
}*/

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

/* Button */ 

.button
{
  position: relative;
  background-color: #930e05;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 45px;
  margin: 35px 0

}



/* Media Query for Responsive*/

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}



